{% extends "base.html" %}

{% block app_content %}
  <h2>Doctor: {{ doc.name }}</h1>
  <hr>
  <p><a href="{{ url_for('add_patient') }}">Add patient</a></p>
  <h2>Patients:</h2>
  <table class="table table-bordered table-responsive table-hover">
    <tr>
      <td>Name</td>
      <td>Age</td>
      <td>Email</td>
    </tr>
    {% for patient in patients %}
    <tr>
        <td>{{ patient.name }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.email}}</td>
    </tr>
    {% endfor %}
  </table>

  <nav aria-label="...">
      <ul class="pager">
          <li class="previous{% if not prev_url %} disabled{% endif %}">
              <a href="{{ prev_url or '#' }}">
                  <span aria-hidden="true">&larr;</span>Newer
              </a>
          </li>
          <li class="next{% if not next_url %} disabled{% endif %}">
              <a href="{{ next_url or '#' }}">Older <span aria-hidden="true">&rarr;</span></a>
          </li>
      </ul>
  </nav>
{% endblock %}
