{% extends "base.html" %}

{% block content %}
  <h1>Doctor: {{ doc.username }}</h1>
  <hr>
  <p><a href="{{ url_for('add_patient') }}">Add patient</a></p>
  <h2>Patients:</h2>
  {% for patient in patients %}
  <table>
    <tr valign = "top">
    <!-- Patient avatar is not working -->
      <td>
        Name: {{ patient.name }} </br>
        Age: {{ patient.age }}</br>
        Email: {{ patient.email }}
      </td>
    </tr>
  </table>
  {% endfor %}
  {% if prev_url %}
  <a href="{{ prev_url }}">Newer patients</a>
  {% endif %}
  {% if next_url %}
  <a href="{{ next_url}}">Older patients</a>
  {% endif %}
{% endblock %}
